.castList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
    /* Міжрядковий і міжстовпчиковий відступ */
    list-style: none;
    /* Вимкнути маркери списку */
    padding: 0;
    margin: 0;
}

.castList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Вирівнювання по центру */
}

.castList img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* Округлення країв зображення */
}

.actorName {
    text-align: center;
}